@font-face {
  font-family: 'ka1';
  src: url('chrome-extension://__MSG_@@extension_id__/ka1.ttf');
}
body {
  cursor: none;
  font-family: 'ka1', cursive !important;
}
.tosBox.right {
  display: none !important;
}
#startScreen {
  position: relative;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
#startScreen #logo {
  width: 450px;
}
#startScreen #insertCoin {
  font-size: 35px;
  color: white;
  margin-top: 150px;
}
#overlays {
  margin-left: -200% !important;
}
#setName {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  z-index: 9999;
  font-size: 35px;
  background: #f6f6f6;
  display: none;
}
#setName #letters span {
  margin-right: 1rem;
}
#setName #letters span.agar-selected {
  border: 1px solid red;
}
